<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome - LeDoc</title>
    <link rel="stylesheet" type="text/css" href="static/sdk/iview.css">
    <script type="text/javascript" src="static/sdk/vue.js"></script>
    <script type="text/javascript" src="static/sdk/iview.min.js"></script>
    <script type="text/javascript" src="static/sdk/js.cookie-2.2.0.min.js"></script>
    <script type="text/javascript" src="static/sdk/axios.min.js"></script>
    <script type="text/javascript" src="static/LeDoc.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div id="app">
    <Layout>
        <Header style="padding: 20px;">
            <Row>
                <i-col span="18" style="text-align: left">
                    <h1>Le Document</h1>
                </i-col>
                <i-col span="6" style="text-align: right">
                    <a href="home.html" target="_blank">
                        <i-button type="ghost">
                            进入后台
                        </i-button>
                    </a>
                </i-col>
            </Row>
        </Header>
        <Content style="background-color: #ffffff;min-height:400px;text-align: left;padding: 20px;">
            <Row>
                <i-col span="24">
                    <Row>
                        <i-col span="24" style="margin: 10px auto">
                            <Breadcrumb>
                                <breadcrumb-item @click.native="clickOnPathComponentItem(0)">Public Folders
                                </breadcrumb-item>
                                <breadcrumb-item v-for="(item,index) in current_folder"
                                                 @click.native="clickOnPathComponentItem(1+1*index)">{{item}}
                                </breadcrumb-item>
                            </Breadcrumb>
                        </i-col>
                        <i-col span="24" style="margin: 10px auto">
                            <Row>
                                <i-col span="6" v-for="(folder,index) in folders" :key="index" style="margin: 5px">
                                    <i-button type="ghost" icon="folder" @click="openFolder(folder.path_components)">
                                        {{folder.folder_name}}
                                    </i-button>
                                </i-col>
                            </Row>
                            <Row>
                                <i-col span="6" v-for="(file,index) in files" :key="index" style="margin: 5px">
                                    <a :href="openDocument(file.docHash)" target="_blank">
                                        <i-button type="ghost" icon="document">
                                            {{file.title}}
                                        </i-button>
                                    </a>
                                </i-col>
                            </Row>
                        </i-col>
                    </Row>
                </i-col>
            </Row>
        </Content>
        <Footer style="text-align: center;padding: 10px">
            <div style="text-align: center;line-height: 20px;">
                Copyright 2018 Sinri Edogawa
                &nbsp;&nbsp;
                <a href="http://www.beian.miit.gov.cn">浙ICP备14032362号-2</a>
                &nbsp;&nbsp;
                <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010902001939">
                    <img src="static/beian.png" style="display: inline"/>
                    浙公网安备 33010902001939号
                </a>
                &nbsp;&nbsp;
                乐文墨 文档系统
            </div>
        </Footer>
    </Layout>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            folders: [],
            files: [],
            current_folder: [],
        },
        methods: {
            loadAllPublicFoldersAsTree: function (root_folder) {
                //
                LeDoc.api.call(
                    "AnonymousReaderController/getObjects",
                    {
                        root_path_components: root_folder,
                    },
                    (data) => {
                        console.log("AnonymousReaderController/getTopLevelFolders data", data);
                        this.folders = data.folder_list;
                        this.files = data.file_list;
                        this.current_folder = data.current_folder;
                    },
                    (error, code) => {
                        console.log("AnonymousReaderController/getTopLevelFolders error", error, code);
                    }
                );
            },
            openFolder: function (path_components) {
                this.loadAllPublicFoldersAsTree(path_components);
            },
            clickOnPathComponentItem: function (path_component_index) {
                console.log("clickOnPathComponentItem", path_component_index);
                let x = this.current_folder.slice(0, path_component_index);
                this.openFolder(x);
            },
            openDocument: function (docHash) {
                // TODO here might be changed to a special reader for anonymous users
                let url = "read-public.html?folder_hash=" + encodeURIComponent(JSON.stringify(this.current_folder))
                    + "&doc_hash=" + encodeURIComponent(docHash);
                //window.open(url);
                return url;
            },
        },
        mounted: function () {
            this.loadAllPublicFoldersAsTree([]);
        }
    });
</script>
</body>
</html>
