* {
    margin: 0;
    padding: 0;
}

table.ledoc_table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
}

table.ledoc_table th {
    border: 1px solid silver;
    background-color: #6d7380;
    color: white;
    padding: 2px;
}

table.ledoc_table td {
    border: 1px solid silver;
    padding: 2px;
    text-align: center;
}